<!--
<form class="contact-form" method="POST" action="/contact">
  <input type="text" id="name" name="name" placeholder="Your name">
  <input type="email" id="email" name="email" placeholder="Email Address">
  <input type="text" id="subject" name="subject" placeholder="Subject">
  <textarea id="message" name="message" placeholder="Message" required="required" rows="5"></textarea>
  <input type="submit" value="Send Message" />
</form>
<script src="../assets/js/app.js"></script>
-->

<form (submit)="onSubmit()"
      [formGroup]="form">

  <mat-form-field appearance="fill">
    <mat-label>name</mat-label>
    <input formControlName="name" matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>email</mat-label>
    <input formControlName="email" matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>subject</mat-label>
    <input formControlName="subject" matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>message</mat-label>
    <input formControlName="message" matInput />
  </mat-form-field>

  <button type="submit">Click</button>
</form>
<script src="../assets/js/app.js"></script>
