<form class="contact-form" method="POST" action="/contact">
          <input type="text" id="name" name="name" placeholder="Your name">
          <input type="email" id="email" name="email" placeholder="Email Address" >
          <input type="text" id="subject" name="subject" placeholder="Subject" >
          <textarea id="message" name="message" placeholder="Message" required="required" rows="5" ></textarea>
          <input type="submit" value="Send Message" />
  </form>
  <script src="../assets/js/app.js"></script>         
